html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: #252525;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--amber-dim);
}

::-webkit-scrollbar-track {
    background: var(--0A0A0A);
}